{{input type="checkbox" class="complete" checked=item.isCompleted}}

<span class="item-title">{{item.title}}</span>
 | Priority: <span class="item-priority">{{item.priority}}</span>

<button class="delete" {{action "deleteItem"}}>Delete</button>