{{! TODO (heh): convert to component}}
<div class="new-todo">
  <form>
    <fieldset>
      {{input 
        class="new-todo-title" 
        value=newTodoTitle 
        placeholder="What do you need to do?"
      }}
      {{input 
        class="new-todo-priority" 
        value=newTodoPriority 
        placeholder="Priority"
      }}
      <button class="submit" {{action "createTodo"}}>Create</button>
    </fieldset>
  </form>
</div>

{{todo-list
  items=model
}}

<table class="todo-report">
  <thead>
    <td>priority value</td>
    <td>count</td>
  </thead>
  <tbody>
  {{#each-in priorityCounts as |key val|}}
    <tr>
      <td>{{key}}</td>
      <td>{{val}}</td>
    </tr>
  {{/each-in}}
  </tbody>
</table>